body {
  font-family: sans-serif;
}
@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #17141d;
    color: #c5c5c5;
  }
}
input, button, select, textarea, pre {
  font-size: 1rem;
}
textarea {
  width: 25rem;
  height: 10rem;
}
pre {
  margin: 0;
  max-width: 15rem;
  max-height: 20rem;
  overflow-y: auto;
}
h1 {
  margin: 0.5rem 0;
}
hr {
  margin: 2rem 0 1rem;
}
